# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environment
venv/
.env
*.venv

# AWS deployment packages
package/
deployment.zip

# System files
.DS_Store
Thumbs.db

# Logs and caches
logs/
*.log
*.sqlite3
